<% include ./../partials/head.ejs %>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <% include ./../partials/sideMenu.ejs %>
            <% include ./../partials/topNavigation.ejs %>
            <div class="right_col" role="main">
                    <?php
                      include_once('./partials/errorHandler.php');
                  ?>
                  <div class="row top_tiles" style="margin: 10px 0;">
                  
                  </div>
                      <div class="row top_tiles" style="margin: 10px 0;">
                            <div class="col-md-3 col-sm-3 col-xs-6 tile">
                                <span>Empresas Creadas</span>
                                <h2>
                                    
                                </h2>
                                <a class="text-small btn-link" href="#">
                                    ver todas
                                </a>                    
                            </div>
                      </div>
                      <!-- contenido --> 
                      <div class="x_panel">
                      
                                <div class="x_title">
                                  <h2>
                                      <i class="fas fa-industry"></i>
                                      Crear Empresas
                                  </h2>
                                  <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                  <br>
                                  <form id="form" class="form-horizontal form-label-left">
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12" >Nombre de la empresa <span class="required">*</span>
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="nombre" type="text"  required="required" class="form-control col-md-7 col-xs-12" placeholder="Nombre de la empresa">
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label class="control-label col-md-3 col-sm-3 col-xs-12">
                                          RUT de la empresa
                                          <span class="required">*</span>
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="rut" type="text" required="required" class="form-control col-md-7 col-xs-12" placeholder="RUT de la empresa SIN PUNTOS O GUION"  >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                              Correo de la empresa
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="correo" id="" class="form-control col-md-7 col-xs-12" type="mail" placeholder="Correo de la empresa" >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                              Telefono de la empresa
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="telefono" id="" class="form-control col-md-7 col-xs-12" type="number" placeholder="Telefono de la empresa | sin puntos o guion" >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                              Telefono secundario de la empresa
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="telefono2" id="" class="form-control col-md-7 col-xs-12" type="number" placeholder="Telefono secundario de la empresa | sin puntos o guion" >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                              Direcci&oacute;n
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <input id="direccion" id="" class="form-control col-md-7 col-xs-12" type="text" placeholder="Direccion de la empresa | sin puntos o guion" >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                              Tipo de empresa
                                      </label>
                                      <div class="col-md-6 col-sm-6 col-xs-12">
                                        <select id="tipoEmpresa" id="" class="form-control col-md-7 col-xs-12">
                                              <option value="">
                                              </option>
                                        </select>
                                      </div>
                                    </div>
                                          <div class="form-group">
                                            <label for="" class="control-label col-md-3 col-sm-3 col-xs-12">
                                                    Relacionar con empresa:
                                            </label>
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                              <select id="relEmpresa" id="" class="form-control col-md-7 col-xs-12">
                                                        <option value="">
                                                          NOMBRE | RUT: ##
                                                        </option>
                                                      
                                                        <option >
                                                          Relacionar con empresa:
                                                        </option>
                                                        <option value="">
                                                          NOMBRE | RUT: #####
                                                        </option>
                                                      
                                              </select>
                                            </div>
                                          </div>
                                    <div class="ln_solid"></div>
                                    <div class="form-group">
                                      <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3 text-center">
                                          <button class="btn btn-primary"  id="opc" type="submit">
                                            <i class="fas fa-plus"></i>
                                              Agregar Empresa
                                          </button>
                                      </div>
                                    </div>
                                  </form>
                                </div>
                              </div>
                      <!-- /contenido --> 
                  </div>
        </div>
        <% include ./../partials/footer.ejs %>
        <script>
            $(function(){
              $('#form').submit(function(e){
                e.preventDefault();
                  $.post('/empresas/agregar', {
                    nombre: $('#nombre').val(),
                    rut: $('#rut').val(),
                    correo: $('#correo').val(),
                    telefono1: $('#telefono1').val(),
                    telefono2: $('#telefono2').val(),
                    direccion: $('#direccion').val(),
                    tipoEmpresa: $('#tipoEmpresa').val(),
                    });
                });
            });
          
        </script>
    </div>
</body>
